body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 87.5%; line-height: 1.5em;}
h1,h2,h3,h6 { font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; line-height: normal;}
h1 { color: #196aef; font-size: 1.71em; letter-spacing: -1px; margin: 0px;}
h1 a { text-decoration: none; color: #f2b02f; font-weight: bold;}
h1 a:hover { color: #ffffff; background: #196aef; text-decoration: none; }
h2 { color: #333333; font-size: 1.142em; letter-spacing: -1px;}
h3 { font-size: 1em; color: #000000; line-height: 1em; font-weight: bold;}
h4 { color: #777777; font-size: .857em; padding: 2%;font-weight: normal; width: 96%; border-top: 1px solid #e1e3e8; border-bottom:  1px solid #e1e3e8; display: block; text-align: center; background: #f7fafe;}
h4 a { text-decoration: none; color: #aaaaaa;}
h5 { color: #bababa; font-size: .857em; padding: 2%;font-weight: normal; width: 96%;  border-top: 1px solid #e1e3e8; border-bottom:  1px solid #e1e3e8; display: block; text-align: center; background: #f3f6fa;}
h5 a { text-decoration: none; color: #cdcdcd;}
h6 { color: #333333; font-size: 2em; letter-spacing: -1px; font-weight: bold; margin: 0px;}
h6 a { text-decoration: none; color: #f2b02f;}
h6 a:hover { color: #ffffff; background: #196aef;  text-decoration: none;}

p img { padding: 2%;}

a { color: #196aef;  text-decoration: none;}
a:hover { color: #ffffff; background: #196aef; text-decoration: none;}

.comments ol { list-style: none; line-height: normal; padding: 0; display: inline;}
.comments li { width: 100%; padding-top: 2%; padding-bottom: 1%; border-top: 1px dotted #c6c8ce; border-bottom:  1px dotted #c6c8ce;}


#sidebar {font-size: .857em; line-height: 1.2em; color: #bfc8d8}
#sidebar a { color: #196aef; text-decoration: none;}
#sidebar a:hover {color: #ffffff; background: #196aef;}
#sidebar ul { list-style: none outside; padding: 0px; display: inline;}
#sidebar li {width: 100%;}




.footercolumn {font-size: 1em; line-height: 1.2em; color: #bababa;}
.footercolumn a {color: #ffffff; text-decoration: none; }
.footercolumn a:hover {color: #f9a11b; text-decoration: underline; background: none;}
.footercolumn ul { list-style: circle outside; display: inline; padding: 0px; }
.footercolumn li { width: 100%;}

.recentposts {font-size: 1em;}
.recentposts a {color: #196aef; text-decoration: none; }
.recentposts a:hover {color: #ffffff; background: #196aef;}
.recentposts ul { list-style: none; padding: 0px;}