body { background: #f9f9f9;}

div.container { padding: 2em; margin: 2em auto; background: #fff; border-radius: 6px;}

img.profile-picture { display: block; margin: 0 1em; float: left;}
ul.cv-contact { list-style: none; padding: 0; margin: 0 0 1.5em;}
ul.cv-contact li { display: block; clear: both;}
ul.cv-contact li h4 { float: left; margin: 0 10px 0 0; text-align: right; font-weight: bold;}
ul.cv-contact li span { float: left;}

ol.cv-items { list-style: none; padding: 0; margin: 0 0 1.5em;}
ol.cv-items li { margin-bottom: 1em;}
h3.cv-item-title { margin: 0 0 .5em;}
h4.cv-item-position { margin: 0 0 .5em;}
div.cv-item-body h4 { float: left; margin: 0 10px 0 0; text-align: right; font-weight: bold;}
div.cv-item-body p { float: left; margin: 0;}

ul.sub-list li { margin-bottom: .25em;}