.wp-notable img { border: none; height: 14px; width: 14px;}
.wp-notable a:hover { border-top: 1px dashed #000000;}

#flickr_badge_wrapper { margin: 0; text-align: right; padding: 0 5px 0 0;}
#flickr_badge_wrapper img { padding: 0px; margin: 5px; border: none; border: 2px solid #ffffff;}
#flickr_badge_wrapper a:hover img { border: 2px solid #d4cfb7;}

#winamphits img { padding: 0px; margin: 5px; border: none; border: 2px solid #ffffff;}
#winamphits a:hover img { border: 2px solid #d4cfb7;}
.post a:hover img { border: 2px solid #d4cfb7;}
.post img { padding: 0px; margin: 5px; border: none; border: 2px solid #ffffff;}